{%extends'portal/base.html'%}
{% block content %}

<div class="cointainer col-sm-6 offset-3 pt-4 ">
	<div class="border bg-info rounded">
		<center><b><h1 class="text-warning">NewPost</h1><b></center>	
			<form action="#" method="POST" class="was-validated m-3">
				<div class="form-group">
					<label for="objective">
						Objective:
					</label>
					<input type="text" class="form-control" name="objective" placeholder="Enter your Objective" id="description" required="required">
				</div>
				<div class="form-group">
					<label for="mission">
						Mission:
					</label>
					<input type="text" class="form-control" name="mission" placeholder="Enter your Mission" id="mission" required="required">
				</div>
				<div class="form-group">
					<label for="vision">
						Vision:
					</label>
					<input type="text" class="form-control" name="vision" placeholder="Enter your vision" id="vision" required="required">
				</div>
				<input type="submit" value="post" class="btn btn-info btn-block">
			</form>
		</div>
</div>
{% endblock%}